page-login {

  .login-content {
    // background-image: url(../../assets/imgs/aerial-architectural-design-architecture-373912.jpg);
    // background-image: url(../../assets/imgs/city-lights-night-rooftop.jpg);
    // background-image: url(../../assets/imgs/architecture-bicycles-buildings-763901.jpg);
    // background-image: url(../../assets/imgs/volkswagen-auto-historically-vw-163809.jpeg);
    background-image: url(../../assets/imgs/alessio-lin-208193-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .logo-row {
      width: 100%;
      margin-top: 30%;
      padding-top: 50px;
      padding-bottom: 56px;
      background-image: url(../../assets/imgs/logoAtos.png);
      // background-image: url(../../assets/imgs/logoAtosWhite.png);
      background-size: contain;
      background-repeat: no-repeat;
    }


    .login-box {
      padding: 0px 20px 0px 20px;
      margin-top: 130px;
    }

    ion-row {
       align-items: center;
       text-align: center;
     }

     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border-bottom: 0px !important;
         color: white;
         box-shadow: none !important;
         background-color: rgba(254, 254, 254, 0.57);
     }

     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }

     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }

     .submit-btn {
       background: #0066a1;
       color:white;
       border-radius: 30px !important;
     }

     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }

}
