<ion-header>
  <ion-navbar color="secondary">
    <ion-title *ngIf="ruta">{{ ruta.nombre }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page-detalles-ruta">


  <ion-card class="border-rad animated fadeIn fast">
    <ion-row padding>
      <div class="usuario" item-left>
        <img src="https://images.vexels.com/media/users/3/140750/isolated/preview/c9b1b66ee3fc60f9bb0aa9a5bee63a9f-perfil-masculino-avatar-2-by-vexels.png"
          class="image-perfil">
        <small class="nombre-usuario">Usuario98</small>
      </div>

      <ion-list *ngIf="ruta">
        <ion-label item-right>
          <strong>De: </strong>{{ ruta.origen }}</ion-label>
        <ion-label item-right>
          <strong>Hasta: </strong> {{ ruta.destino }} </ion-label>
        <ion-label item-right>
          <strong>Plazas: </strong>
          <i class="fa fa-user fa-lg" *ngFor="let plaza of plazasO"></i>
          <i class="fa fa-user fa-lg sitio-libre" *ngFor="let plaza of plazasL"></i>
        </ion-label>
      </ion-list>

    </ion-row>
  </ion-card>

  <div class="segment-div" margin="2" *ngIf="ruta">
    <ion-segment class="segment" [(ngModel)]="selected">
      <ion-segment-button class="segment-button" *ngFor="let dia of ruta.semana" [value]="dia.nombre">{{dia.nombre}}</ion-segment-button>
    </ion-segment>
  </div>
  <span *ngIf="ruta">
    <div *ngFor="let dia of ruta.semana">
      <ion-list *ngIf="selected==dia.nombre" ngSelected="selected" class="slide-in-both-ways">
        <ion-card class="border-rad">
          <ion-list>
            <ion-item>
              <ion-label color="primary">Salida</ion-label>
              <ion-datetime disabled [(ngModel)]="dia.horaS" displayFormat="HH:mm"></ion-datetime>
            </ion-item>
            <hr>
            <ion-item>
              <ion-label color="primary">Llegada</ion-label>
              <ion-datetime disabled [(ngModel)]="dia.horaLl" displayFormat="HH:mm"></ion-datetime>
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-list>
    </div>
  </span>
  <h4 padding-left>Descripción:</h4>
  <p padding-left *ngIf="ruta">{{ ruta.descripcion }}</p>
  <ion-item>
    <button color="success" ion-button full round padding (click)="prueba()">Solicitar</button>
  </ion-item>
</ion-content>