.page-perfil {
  background-color: rgb(235, 235, 235);
}

.image-perfil{
  height: 100px;
  width: 100px;
}
.input-perfil{
  text-align: center;
  width: 80%;
}
.items-perfil{
  padding: 0;
  margin: 0;
}
.iconos-perfil{
  margin-left: 5px;
  margin-right: 5px;
}
.border-card{
  border-radius: 12px;
}
.div-perfil{
  height: 40px;
}
#map {
      width: 100%;
      height: 200px;
      }
