page-ruta-perfil {

}
.centrado{
  text-align: center;
}
.tabla{
  border-style: solid;
  border-width: 1px;
}
.titulo{
  margin-left: 10px;
}
.iconos-ruta-perfil{
  margin-right: 5px;
}
.item-divider{
  border-bottom: 1px;
  text-align: center;
  background-color: rgb(203, 203, 203);
}
