<ion-header>
  <ion-navbar color="secondary">
    <ion-title>Alisos</ion-title>
    <ion-buttons end>
      <button class="botonEditar">
        <i class="fa fa-pencil fa-lg pencil" aria-hidden="true"></i>
        <!-- <ion-icon ios="ios-create" md="md-create"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-about">


  <ion-card class="border-rad">
    <ion-card-header class="item-divider bgheader tituloruta">
      <b>Información</b>
    </ion-card-header>
    <ion-grid>
        <ion-row align-items-center justify-content-center>
          <h2>Desde</h2>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <small>c/ José Ventura, nº 47, San Isidro</small>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <h2>Hasta</h2>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <small> AtoS Santa Cruz de Tenerife</small>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <h2>Horario</h2>
        </ion-row>
        <ion-row align-items-center justify-content-center>
          <small>08:30 - 17:30</small>
        </ion-row>
      </ion-grid>
  </ion-card>



  <ion-card class="border-rad">
    <ion-card-header class="item-divider bgheader">
      Integrantes
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngIf=!show2>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://cdn.pixabay.com/photo/2013/07/13/10/07/man-156584_960_720.png">
          </ion-avatar>
          <h2>Claudio</h2>
          <p>Oh yeah!</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="show2 = !show2">
            <ion-icon name="exit"></ion-icon>
            Expulsar
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png">
          </ion-avatar>
          <h2>Ivanaso</h2>
          <p> Hey there! Im new using WhatsApp</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="show2 = !show2">
            <ion-icon name="exit"></ion-icon>
            Expulsar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-card-header class="item-divider bgheader">
      Solicitudes
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngIf="!show3">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://pbs.twimg.com/profile_images/426033231977136128/31XCyLMF.jpeg">
          </ion-avatar>
          <h2>
            <strong>Claudio Roldán</strong>
          </h2>
          <p>¡Claudio quiere entrar a la ruta!</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="dark" (click)="show3 = !show3">
            <ion-icon name="trash"></ion-icon>
            Borrar
          </button>
          <button ion-button color="success" (click)="show3 = !show3">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            Aceptar
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>

</ion-content>