<ion-header>
  <ion-navbar *ngIf="!searching" color="secondary">
    <ion-title>Rutas</ion-title>
    <!-- <ion-buttons end> <a class="fa fa-search icono-blanco" (click)="search(this)"></a></ion-buttons> -->
    <ion-buttons end>
      <button class="fa fa-search icono-blanco" (click)="searching = !searching"></button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [showCancelButton]="true" *ngIf="searching" placeholder="Busca rutas"></ion-searchbar>
</ion-header>
<ion-content class="page-about">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card class="border-rad">
    <ion-item (click)="onClickedItem(rutaPrueba)">
      <span item-end class="iconos-sm border-zero">
        <ion-icon color="success">
          <i class="fa fa-circle"></i>
        </ion-icon>
      </span>
      <h2>
        <strong> {{ rutaPrueba.nombre}} </strong>
      </h2>
      <hr>
      <p>{{ rutaPrueba.recorrido }} {{ rutaPrueba.distancia }}</p>
      <ion-avatar item-start>
          <img src="https://www.autobild.es/sites/autobild.es/public/styles/768x432/public/dc/fotos/Ferrari-488_Spider_2016_C01.jpg?itok=iw1GiV1t">
      </ion-avatar>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>

    </ion-item>
  </ion-card>


  <ion-card class="border-rad">
    <ion-item>
      <h2>
        <strong>Alisos</strong>
      </h2>
        <span item-end class="iconos-sm border-zero">
          <ion-icon color="danger" class="parpadea">
            <i class="fa fa-circle"></i>
          </ion-icon>
        </span>
      <hr>
      <p>
        Playa de la arena - Punta Anaga Baja (43 km)
      </p>
      <ion-avatar item-start>
        <img src="https://www.autobild.es/sites/autobild.es/public/styles/768x432/public/dc/fotos/Ferrari-488_Spider_2016_C01.jpg?itok=iw1GiV1t">
      </ion-avatar>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>
    </ion-item>
  </ion-card>

  <ion-card class="border-rad">
    <ion-item>
      <span icon-left clear item-end class="iconos-sm border-zero">
        <ion-icon color="success">
          <i class="fa fa-circle"></i>
        </ion-icon>
      </span>
      <h2>
        <strong>Iglesias brillantes</strong>
      </h2>
      <p>Santiago Alto - Puntas del pozo (12 km)</p>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>
      <i class="fa fa-user fa-lg sitio-libre"></i>
    </ion-item>
  </ion-card>

  <!--  FAB ICON-->
  <ion-fab right bottom (click)="nuevaRuta()">
    <div ion-fab color="secondary" style="text-decoration:none">
      <i class="fa fa-plus fa-lg"></i>
    </div>
  </ion-fab>

</ion-content>