<ion-header >
  <ion-navbar color="secondary">
    <ion-title>Crear Rutas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-nuevaRuta">

  <ion-card class="border-rad">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Origen : </ion-label>
        <ion-input placeholder="De ..."></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Destino : </ion-label>
        <ion-input placeholder="Hasta ..."></ion-input>
      </ion-item>
    </ion-list>
</ion-card>

<div >
  <ion-segment [(ngModel)]="selected">
    <ion-segment-button *ngFor="let dia of dias" [value]="dia">{{dia}}</ion-segment-button>
  </ion-segment>
</div>

<div *ngFor="let dia of dias">
  <ion-list *ngIf="selected==dia" ngSelected="selected" >
    <ion-card class="border-rad">
      <ion-list>
        <ion-item>
          <ion-label color="primary">Salir casa : </ion-label>
          <ion-datetime displayFormat="HH:mm" placeholder="Introduce hora..."></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary">Salir trabajo : </ion-label>
          <ion-datetime displayFormat="HH:mm" placeholder="Introduce hora..."></ion-datetime>
        </ion-item>
      </ion-list>
  </ion-card>
  </ion-list>
</div>




        <button color="success" ion-button full round>Crear</button>

</ion-content>
