.page-nuevaRuta {
  background-color: rgb(235, 235, 235);
}

.border-rad{
  border-radius:12px;
}

.semana{
  display:flex;
  font-size: 15px;
  width:90%;
  margin:0 auto;
}
.dia:first-child{
  border-top-left-radius: 4px ;
  border-bottom-left-radius: 4px ;

}
.dia:last-child{
  border-top-right-radius: 4px ;
  border-bottom-right-radius: 4px ;

}
.dia{
  width:50%;
  color: rgb(0, 0, 0);
  border: solid rgb(45, 44, 44) 1px;
  padding-top:3px;
  padding-left: 17px;
  padding-right: 17px;
}

.selected-dia:hover{
  background-color: green;
}

.dia-festivo{
  background-color: rgba(148, 148, 148, 0.88);
}

.botton-success{
  background-color: transparent;
}

.scroll {
          height: 100%
    }


  @-webkit-keyframes slideInBothWays {
  0% {
    -webkit-transform: translate3d(-15%,0,0);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(0%,0,0);
    opacity: 0.5;

  }

  100% {
    -webkit-transform: translate3d(0,0,0);
  }
}

.slide-in-both-ways {
   -webkit-animation: slideInBothWays linear;
  animation: slideInBothWays linear;
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.button-bottom{
  margin: auto;
  width: 80%;
}


.formAutocomplete {
  position: absolute;
  left:66px;
  top:94px;
  border-width: 0px;
  font-size: 16px;
  margin-left: 9px;
  color:black;
  width: 220px;
}